.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

#dino {
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-size: 50px 50px;
    position: relative;
    top: 135px;
}

.jump {
    animation: jump 0.39s linear;
}

@keyframes jump {
    0% {
        top: 135px;
    }

    30% {
        top: 95px;
    }

    50% {
        top: 60px;
    }

    80% {
        top: 95px;
    }

    100% {
        top: 135px;
    }
}

#cactus {
    width: 20px;
    height: 40px;
    background-color: transparent;
    background-image: url("https://github.com/awrdrfs/waiting-website/blob/2f4936e334ff5dc640af1e980cb32f11e44b10f3/assets/cactusNew.png");
    background-size: 20px 40px;
    position: relative;
    top: 90px;
    left: 580px;
    /*animation: block 1.5s infinite linear;*/
}

.block {
    animation: block 1.5s infinite linear;
}

@keyframes block {
    0% {
        left: 580px;
    }

    100% {
        left: 0px;
    }
}

#road {
    width: 600px;
    height: 20px;
    background-color: transparent;
    background-image: url("https://github.com/awrdrfs/waiting-website/blob/1ba20d130021904ebaff0b09a881f9404a64a25c/assets/road.png");
    background-size: 600px 20px;
    position: relative;
    top: 90px;
    left: 0px;
}
